.faq.container 
  .faq_image 
    img(src="./assets/image/faq/phone.png", alt="#!")
  .faq_content 
    .faq_content-heading Start boosting conversions today
    .faq_content-item(status='open', style="height: 119px")
      .heading
        span Realtime collaboration
        ion-icon(name="remove-outline")
      .content More than just UI design tools – if you’re collaborating on new concepts, building beautiful prototypes or crafting
    .faq_content-item(status='close')
      .heading
        span Easy setup
        ion-icon(name="add-outline")
      .content More than just UI design tools – if you’re collaborating on new concepts, building beautiful prototypes or crafting
    .faq_content-item(status='close')
      .heading
        span Custom integrations
        ion-icon(name="add-outline")
      .content More than just UI design tools – if you’re collaborating on new concepts, building beautiful prototypes or crafting
    .faq_content-item(status='lose')
      .heading
        span Detailed analysis
        ion-icon(name="add-outline")
      .content More than just UI design tools – if you’re collaborating on new concepts, building beautiful prototypes or crafting


  