.feature.container
  .feature_heading Make Nayzak your own with custom integrations
  .feature_disc Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate customer service.
  .feature_box 
    .feature_item
      .feature_item-image 
        img(src="./assets/image/feature/image-1.png", alt="") 
      .feature_item-heading Secure
      .feature_item-disc Podcasting operational — change management inside of workflows to establish a framework. 
      .feature_item-button
        ion-icon(name="arrow-forward-outline")
    .feature_item
      .feature_item-image 
        img(src="./assets/image/feature/image-2.png", alt="") 
      .feature_item-heading Statistics
      .feature_item-disc Podcasting operational — change management inside of workflows to establish a framework. 
      .feature_item-button
        ion-icon(name="arrow-forward-outline")
    .feature_item
      .feature_item-image 
        img(src="./assets/image/feature/image-3.png", alt="") 
      .feature_item-heading Connections
      .feature_item-disc Podcasting operational — change management inside of workflows to establish a framework. 
      .feature_item-button
        ion-icon(name="arrow-forward-outline")
