.footer
  .dash
    div
    div
    div
    div
    div
    div
    div
  .map
    .item
      .heading Product
      span Features
      span Design Tools
      span Collaboration
      span Extensions
    .item
      .heading Nayzak
      span Theme Features
      span Robust Coding
      span Light Weight
      span Compare to others
    .item
      .heading About
      span Our Story
      span Our Team
      span Work With Us
      span Contact Us
    .item
      .heading Account
      span Privacy Policy
      span Terms &amp; Conditions
      span License Info 
      span Returns &amp; Refunds
  .bottom-footer
    
    .logo
      img(src='./assets/image/footer/logo.svg', alt='')
    span &copy; 2088 Nayzak
    .social
      img(src='./assets/image/footer/facebook.svg', alt='')
      img(src='./assets/image/footer/twitter.svg', alt='')
      img(src='./assets/image/footer/youtube.svg', alt='')
      img(src='./assets/image/footer/instergram.svg', alt='')