.framework.container 
  .framework_content
    .framework_content-tag Testomonials
    .framework_content-heading “With Nayzak, everyone in my team works towards the same goal. This enabled our teams to ship new ideas and feel more capable.”
    .framework_content-user
      .framework_content-avt
        img(src="./assets/image/framework/avatar.png", alt="")
      .framework_content-box
        .framework_content-name Mike Portnoy
        .framework_content-job Head of Design — Nike


  .framework_icon 
    ion-icon(name="arrow-forward-outline")