header.navbar.container.font-syne 
      .navbar_logo
        img(src="./assets/image/header/branding.svg")
      .navbar_link 
        ul
          li
            a.navbar_link-item(href="#!") 
              span Landing
              ion-icon(name="chevron-down-outline")
          li
            a.navbar_link-item(href="#!") 
              span Pages
              ion-icon(name="chevron-down-outline")
          li
            a.navbar_link-item(href="#!") 
              span Blog
              ion-icon(name="chevron-down-outline")
          li
            a.navbar_link-item(href="#!") 
              span Build
      .navbar_action
        a(href="#!").navbar_action-doc Docs
        a(href="#!").btn.btn-header Purchase
