.hero.container 
  .hero_image 
    img(src="./assets/image/gadientbackground.png", alt="")
  .hero_content
    .hero_content-heading Simplify digital payments for all platforms.
    .hero_content-disc All good things starts with a homepage — Get inspired without breaking your wallet with premium Figma and Sketch templates.
    .hero_content-buttons 
     a.btn.btn-primary
      span Get started
     a.btn.btn-secondary
      span Contact sales
      ion-icon(name="return-up-forward-outline")
  .hero_users
    .hero_users-box
      .hero_users-item
        img(src="./assets/image/hero/user-1.png")
      .hero_users-item
        img(src="./assets/image/hero/user-2.png")
      .hero_users-item
        img(src="./assets/image/hero/user-3.png")
    .hero_users-disc Over 9.4 million customers checkout every day using our secure payment gateway.
  .hero_logos
    .hero_logos-heading Trusted by great companies
    .hero_logos-box
      .hero_logos-item
        img(src="./assets/image/hero/Google.png", alt="")
      .hero_logos-item
        img(src="./assets/image/hero/Disney.png", alt="")
      .hero_logos-item
        img(src="./assets/image/hero/Netflix.png", alt="")
      .hero_logos-item
        img(src="./assets/image/hero/Dropbox.png", alt="")
      .hero_logos-item
        img(src="./assets/image/hero/Spotify.png", alt="")
      .hero_logos-item
        img(src="./assets/image/hero/Slack.png", alt="")
