.inter.container 
  .inter_content
    .inter_content-tag  International
    .inter_content-heading Simple and secure personal banking solutions
    .inter_content-box  
      .inter_content-item
        .heading
          .icon
            ion-icon(name="wallet-outline")
          span Wallet
        .disc Excepteur sint occaecat cupidat non proident sunt in culpam qui the officia aliquip ex ea comm.
      .inter_content-item
        .heading
          .icon
            ion-icon(name="wallet-outline")
          span Debit Card
        .disc Excepteur sint occaecat cupidat non proident sunt in culpam qui the officia aliquip ex ea comm.
      .inter_content-item
        .heading
          .icon
            ion-icon(name="wallet-outline")
          span Multi-Currency
        .disc Excepteur sint occaecat cupidat non proident sunt in culpam qui the officia aliquip ex ea comm.
      .inter_content-item
        .heading
          .icon
            ion-icon(name="wallet-outline")
          span Secure
        .disc Excepteur sint occaecat cupidat non proident sunt in culpam qui the officia aliquip ex ea comm.

  .inter_image 
    img(src="./assets/image/inter/image.png", alt="")