.started.container 
  .started_content
    .started_content-heading  Get your dream card — today
    .started_content-disc Excepteur sint occaecat cupidat non proident sunt in culpam qui the officia aliquip ex ea comm.
    .started_content-button.btn-primary Get started
  .started_image 
    img(src="./assets/image/started/image.png", alt="")