doctype html
html(lang="en")
  include ./head
  body 
    include ./views/header
    include ./views/hero
    include ./views/faq
    include ./views/inter
    include ./views/framework
    include ./views/feature
    include ./views/started
    include ./views/footer
    
    script(src="./assets/script/app.js") 